@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/*
    \\RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
    \\VARIABLES & GEBERAK STYLES
*/
:root {
    --BLACK: #0f0c0e;
    --TAN: #F2D0A7;
    --PEARL: #f0f0dc;
    --RED: #F23D4C;
    --ORANGE: #F25E3D;
    --YELLOW: #F2C12E;

    --FONT-TITLE-BIG: 3.5em;
    --FONT-TITLE-SMALL: 2.8em;
    --FONT-SUBTITLE: 1.5em;
    --FONT-NAV: 1.4em;
    --FONT-TILE-TITLE: 1.3em;

    font-family: 'Inter', sans-serif;
}
html {
    font-size: 16px;
}

/*
    \\ELEMENTS
*/
/* \HEADER */
.nav {
    background-color: var(--BLACK);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
.nav__link {
        font-size: var(--FONT-NAV);
        text-decoration: none;
        color: var(--PEARL);
        padding: 8px;
}
.link {
    padding: 12px;
    transition: color .3s .1s,
                border-color .3s;
    border: 1px solid var(--PEARL);
    border-radius: 4px;
}
.link--work:hover {
    color: var(--RED);
    border-color: var(--RED);
}
.link--contact:hover {
    color: var(--ORANGE);
    border-color: var(--ORANGE);
   
}
.welcome-section {
    background-color: var(--TAN);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.welcome-section__title {
    color: var(--BLACK);

}
.title {
    font-size: var(--FONT-TITLE-BIG);
    text-align: center;
    text-transform:uppercase;
}
.welcome-section__subtitle {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--FONT-SUBTITLE);
}

/* \PROJECTS */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--BLACK);
    color: var(--PEARL);
}
.projects__title {
    font-size: var(--FONT-TITLE-SMALL);
    margin-top: 80px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.project-tile {
    width: 95%;
    margin: 40px 0;
}
.project-tile {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-decoration: none;
    color: var(--PEARL);
    /* transition: color .3s; */
}
.project-tile__img {
    width: 100%;
    margin: 0 auto;
    grid-area: 1 / 1 / 1 / 1;
}
.project-tile__foreground {
    /* background-color: #00000040; */
    background: linear-gradient(
        #00000000,
        #00000000 50%,
        #00000099 100%
    ) ;
    background-size: auto 200%;
    background-position: bottom;
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all .5s;

}
.project-tile__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: var(--FONT-TILE-TITLE);
    letter-spacing: .1em;
}
.project-tile:hover {
    color: transparent;
}
.project-tile__foreground:hover {
    background-position: top;
}


/* \CONTACT */
.contact {
    height: calc(100vh - 67px);
    background-color: var(--BLACK);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--PEARL);
}
.contact__medias {
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.contact__media {
    color: var(--TAN);
    font-size: 1.5em;
    text-decoration: none;
    margin: 10px 20px;
    transition: transform .5s,
                color .5s;
}
.contact__media:hover {
    transform: translateY(7px)
}
.contact__media--github:hover {
    color: var(--RED);
}
.contact__media--fm:hover {
    color: var(--ORANGE);
}
.contact__media--email:hover {
    color: var(--YELLOW);
}
.contact__title {
    margin-bottom: 10px;
}
.contact__subtitle {
    font-size: var(--FONT-SUBTITLE);
    margin-bottom: 40px;
}
.contact__media--fm {
    position: relative;
    display: flex;
}
.fm-media {
    fill: var(--TAN);
    height: 100%;
    transition: fill .5s;
    position: absolute;
    padding: 0 100% 0 0;
}
.fm-media:hover {
    fill: var(--ORANGE) !important;

}
.fm-media-span {
    width: 37px;
}